<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:action="@{/admin/editUser}" th:object="${user}" method="post">
    <input type="hidden" name="id" th:value="${user.getId()}">
        <label th:for="username">Username
        <input type="text" name="username" th:id="username" th:value="${user.getUsername()}">
        </label>
        <br/>
        <label th:for="password">Password
            <input type="text" name="password" th:id="password" th:value="${user.getPassword()}">
        </label>
        <br/>
        <label th:for="firstName">First name
        <input type="text" name="firstName" th:id="firstName" th:value="${user.getFirstName()}">
        </label>
        <br/>
        <label th:for="lastName">Last name
        <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}">
        </label>
        <br/>
        <label th:for="email">Email
        <input type="text" name="email" th:id="email" th:value="${user.getEmail()}">
        </label>
        <br/>
        <br/>
        <label>
            <input type="checkbox"
                   name="roleAdmin"
                   th:checked="${roleAdmin}"
                   th:value="ROLE_ADMIN"
                   th:text="Admin">
        </label>
        <label>
            <input type="checkbox"
                   name="roleUser"
                   th:checked="${roleUSER}"
                   th:value="ROLE_USER"
                   th:text="User">
        </label>
    <br>
    <button type="submit">Edit</button>
</form>
<div>
    <p><a href="/logout">
        <button style="color: #4525a9">Logout</button></a></p>
</div>
</body>
</html>