<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form action="#" th:action="@{/editUserInDB}" th:object="${user}" method="post">
    <p>
        <label th:for="username">Username
            <input type="text"
                   name="username"
                   th:id="username">
        </label>
        <br/>
        <label th:for="password">Password
            <input type="text"
                   name="password"
                   th:id="password">
        </label>
        <br/>
        <label th:for="firstName">First name
            <input type="text"
                   name="firstName"
                   th:id="firstName">
        </label>
        <br/>
        <label th:for="usernamelastName">Last Name
            <input type="text"
                   name="lastName"
                   th:id="lastName">
        </label>
        <br/>
        <label th:for="email">Email
            <input type="text"
                   name="email"
                   th:id="email">
        </label>
        <br/>
        <br/>
        <label> Admin
            <input type="checkbox"
                   name="roleAdmin"
                   th:value="ROLE_ADMIN"
                   th:text="Admin">
        </label>
        <label>User
            <input type="checkbox"
                   name="roleUser"
                   th:value="ROLE_USER"
                   th:text="User">
        </label>
    </p>
    <button type="submit">Edit</button>
</form>
<div>
    <p><a href="/logout">
        <button style="color: #4525a9">Logout</button></a></p>
</div>
</body>
</html>